html {
  background: #d8e9f3;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100vw;
  margin: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  border-bottom: 1px solid black;
  padding: 10px;
}

.hometext {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 0 40px;
}

.mostReadBooks {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 0 40px;
  font-size: 30px;
}

.loginOptionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  align-self: center;
  height: 50vh;
}

.option {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background: whitesmoke;
  border-radius: 3px;
  width: 70%;
  margin: 10px 0;
  align-self: center;
}

.homeScreenOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  font-family: "Open Sans", sans-serif;
}

form>input[type="text"],
form>input[type="password"] {
  width: 60%;
  height: 30px;
  margin: 5px;
  align-self: center;
  padding: 4px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
  background: inherit;
  font-family: "Open Sans", sans-serif;
}

form>input[type="text"]:focus,
form>input[type="password"]:focus {
  outline: none;
  border-bottom: 1px solid dodgerblue;
}

form>input[type="text"]::placeholder,
form>input[type="password"]::placeholder {
  text-align: center;
}

form>input[type="submit"] {
  height: 30px;
  width: 200px;
  border-radius: 2px;
  margin: 10px;
  color: white;
  font-size: 15px;
  align-self: center;
  cursor: pointer;
  background: dodgerblue;
  border: none;
  font-family: "Open Sans", sans-serif;
}

form>input[type="submit"]:hover {
  background: rgb(30, 165, 255);
}

form>input[type="submit"]:focus {
  outline: none;
}

.adminLoginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loginForm {
  width: 33%;
  align-self: center;
  display: flex;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid darkgray;
  background: white;
  box-shadow: 0px 0px 1px gray;
}

.addBookSection {
  width: 100%;
  display: flex;
  margin: 0 40px;
}

.bookInformationContainer {
  border: 1px solid darkgray;
  background: whitesmoke;
  box-shadow: 0px 0px 1px gray;
  margin: 3px;
  border-radius: 3px;
  padding: 10px;
  width: 20%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookShelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 0 40px;
}

.searchBookSection {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 40px;
}

input {
  height: 35px;
  width: 50%;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid black;
  margin-right: 3px;
  font-family: "Open Sans", sans-serif;
}

.bookWrapper {
  margin: 5px 0;
  margin: 0 40px;
}

.searchHeader {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}

button {
  border-radius: 2px;
  cursor: pointer;
  background: dodgerblue;
  padding: 4px 16px;
  color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.noSearchResultLabel {
  text-align: center;
}

h4,
h3 {
  margin: 0;
}

.assignedBook {
  padding: 5px;
  border-radius: 3px;
  font-style: italic;
  font-weight: 400;
}

.logout-button {
  float: right;
  margin-right: 20px;
}

.add-section {
  display: flex;
  border-bottom: 1px solid black;
}