body {
  width: 100vw;
  margin: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  border-bottom: 1px solid black;
  padding: 10px;
}

.loginOptionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  align-self: center;
  height: 50vh;
}

.option {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background: whitesmoke;
  border-radius: 3px;
  width: 70%;
  margin: 10px 0;
  align-self: center;
}

.homeScreenOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

form > input[type="text"],
form > input[type="password"] {
  width: 40%;
  height: 30px;
  margin: 5px;
  align-self: center;
  padding: 4px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

form > input[type="text"]:focus,
form > input[type="password"]:focus {
  outline: none;
  border-bottom: 1px solid aqua;
}

form > input[type="text"]::placeholder,
form > input[type="password"]::placeholder {
  text-align: center;
}

form > input[type="submit"] {
  height: 30px;
  width: 200px;
  border-radius: 20px;
  margin: 10px;
  align-self: center;
  cursor: pointer;
  background: lightgrey;
  border: none;
}

form > input[type="submit"]:focus {
  outline: none;
}

.adminLoginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loginForm {
  width: 50%;
  align-self: center;
  display: flex;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBookSection {
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
  margin: 0 40px;
}

.bookInformationContainer {
  border: 1px solid black;
  margin: 3px;
  border-radius: 3px;
  padding: 10px;
  width: 20%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookShelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 0 40px;
}

.searchBookSection {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 0 40px;
}

input {
  height: 35px;
  width: 50%;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid black;
  margin-right: 3px;
}

.bookWrapper {
  border-bottom: 1px solid black;
  margin: 5px 0;
  margin: 0 40px;
}

.searchHeader {
  display: flex;
  justify-content: center;
  padding: 5px;
}

button {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.noSearchResultLabel {
  text-align: center;
}

h4 {
  margin: 0;
}

.assignedBook {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  background: whitesmoke;
}
